## Tarea 1
##### Dataset de salarios (Científicos de datos)

https://www.kaggle.com/datasets/iamsouravbanerjee/data-science-salaries-2023

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv("Latest_Data_Science_Salaries.csv")
df.head(10)

Matplotlib is building the font cache; this may take a moment.

,Job Title,Employment Type,Experience Level,Expertise Level,Salary,Salary Currency,Company Location,Salary in USD,Employee Residence,Company Size,Year
0,Data Engineer,Full-Time,Senior,Expert,210000,United States Dollar,United States,210000,United States,Medium,2023
1,Data Engineer,Full-Time,Senior,Expert,165000,United States Dollar,United States,165000,United States,Medium,2023
2,Data Engineer,Full-Time,Senior,Expert,185900,United States Dollar,United States,185900,United States,Medium,2023
3,Data Engineer,Full-Time,Senior,Expert,129300,United States Dollar,United States,129300,United States,Medium,2023
4,Data Scientist,Full-Time,Senior,Expert,140000,United States Dollar,United States,140000,United States,Medium,2023
5,Data Scientist,Full-Time,Senior,Expert,126000,United States Dollar,United States,126000,United States,Medium,2023
6,Data Scientist,Full-Time,Senior,Expert,170000,United States Dollar,United States,170000,United States,Medium,2023
7,Data Scientist,Full-Time,Senior,Expert,130000,United States Dollar,United States,130000,United States,Medium,2023
8,Data Engineer,Full-Time,Mid,Intermediate,85000,British Pound Sterling,United Kingdom,104584,United Kingdom,Medium,2023
9,Data Engineer,Full-Time,Mid,Intermediate,75000,British Pound Sterling,United Kingdom,92280,United Kingdom,Medium,2023

# Ejercicio en Clase:

Para este ejercicio debes realizar los siguientes pasos de manera anticipada los siguientes procesos:
- Cargar el conjunto de datos desde un archivo CSV utilizando pandas.
- Explorar y familiarizarse con la estructura del conjunto de datos.
- Calcular estadísticas descriptivas, como el promedio, la mediana y la desviación estándar, de variables relevantes del conjunto de datos general.

#### Acciones por ejecutar

1. ¿Cúantos posibles "Job Title" existen en el Dataset?
2. ¿Cúales son los "Employment Type" y en qué frecuencia se presentan en el Dataset?
3. ¿Cuáles son los "Expertise Level" y "Experience Level" y cuál es el salario promedio general de cada uno?
4. ¿Cuáles son los "Salary Currency" y a qué tasa está covertido respecto al dolar cada uno?
5. ¿En cuántos paises diferentes se encuentran los empleados ("Employee Residence")?
6. ¿Cuál salario promedio por "Job Title" agrupado?
7. ¿Cuál es el salario promedio por país de residencia (Employee Residence)?
8. ¿Cuál es el "Salary in USD" máximo y mínimo?¿A qué registro pertenece?
9. ¿Cuál es el salario promedio (en USD) por rol por tamaño de compañía?
10. muestre los datos agrupados por tamaño de la compañía, país y salario promedio.

### Propuesta de solución

In [4]:
#Pregunta 01
job_titles = df['Job Title'].unique()
print(f'Cantidad de posibles "Job Title": {len(job_titles)}')

Cantidad de posibles "Job Title": 111

In [5]:
# Pregunta 02
frecuencia_empleo = df['Employment Type'].value_counts()
print(frecuencia_empleo)

Full-Time    3261
Contract       15
Part-Time      13
Freelance      11
Name: Employment Type, dtype: int64

In [37]:
#Pregunta 03
expertise_level = df['Expertise Level'].unique()
experience_level = df['Experience Level'].unique()

expertise_promedy = df.groupby('Expertise Level')['Salary'].mean()
experience_promedy = df.groupby('Experience Level')['Salary'].mean()

print("Valores únicos de Expertise Level:", expertise_level)
print("Salario promedio por Expertise Level:")
print(expertise_promedy)

print("\nValores únicos de Experience Level:", experience_level)
print("Salario promedio por Experience Level:")
print(experience_promedy)

Valores únicos de Expertise Level: ['Expert' 'Intermediate' 'Director' 'Junior']
Salario promedio por Expertise Level:
Expertise Level
Director        237493.006849
Expert          181572.525908
Intermediate    259106.441656
Junior          202933.167808
Name: Salary, dtype: float64

Valores únicos de Experience Level: ['Senior' 'Mid' 'Executive' 'Entry']
Salario promedio por Experience Level:
Experience Level
Entry        202933.167808
Executive    237493.006849
Mid          259106.441656
Senior       181572.525908
Name: Salary, dtype: float64

In [46]:
#Pregunta 04
filtered_data = df[df["Salary Currency"].notna()]

conversion_rates = {}

for index, row in filtered_data.iterrows():
    currency = row["Salary Currency"]
    rate = row["Salary"]
    conversion_rates[currency] = rate

for currency, rate in conversion_rates.items():
    print(f"Divisa: {currency}, Tasa de conversión a USD: {rate}")

Divisa: United States Dollar, Tasa de conversión a USD: 100000
Divisa: British Pound Sterling, Tasa de conversión a USD: 45000
Divisa: Euro, Tasa de conversión a USD: 24000
Divisa: Indian Rupee, Tasa de conversión a USD: 7000000
Divisa: Philippine Peso, Tasa de conversión a USD: 866000
Divisa: Canadian Dollar, Tasa de conversión a USD: 110000
Divisa: Turkish Lira, Tasa de conversión a USD: 250000
Divisa: Brazilian Real, Tasa de conversión a USD: 102000
Divisa: Swiss Franc, Tasa de conversión a USD: 115000
Divisa: Australian Dollar, Tasa de conversión a USD: 120000
Divisa: Polish Zloty, Tasa de conversión a USD: 180000
Divisa: Norwegian Krone, Tasa de conversión a USD: 800000
Divisa: Japanese Yen, Tasa de conversión a USD: 4450000
Divisa: South African Rand, Tasa de conversión a USD: 627000
Divisa: Hong Kong Dollar, Tasa de conversión a USD: 510000
Divisa: Singapore Dollar, Tasa de conversión a USD: 160000
Divisa: Israeli New Shekel, Tasa de conversión a USD: 1500000
Divisa: Thai Baht, Tasa de conversión a USD: 840000
Divisa: Hungarian Forint, Tasa de conversión a USD: 11000000
Divisa: Danish Krone, Tasa de conversión a USD: 300000
Divisa: Mexican Peso, Tasa de conversión a USD: 720000
Divisa: Chilean Peso, Tasa de conversión a USD: 30400000

In [13]:
#Pregunta 05
emplooye_residence = df['Employee Residence']
unique_countries = set(emplooye_residence)
countries_number = len(unique_countries)
print(f"Los empleados se encuentran en {countries_number} países diferentes")

Los empleados se encuentran en 83 países diferentes

In [22]:
#Pregunta 06
salary_promedy = df.groupby('Job Title')['Salary'].mean()
print(salary_promedy)

Job Title
AI Architect                       233500.000000
AI Developer                       133666.666667
AI Programmer                       62500.000000
AI Scientist                       263444.444444
AWS Data Architect                 258000.000000
                                       ...
Sales Data Analyst                  60000.000000
Software Data Engineer             120000.000000
Staff Data Analyst                  97499.000000
Staff Data Scientist               134500.000000
Staff Machine Learning Engineer    185000.000000
Name: Salary, Length: 111, dtype: float64

In [29]:
#Pregunta 07
salary_promedy_per_country = df.groupby('Employee Residence')['Salary'].mean()
print(salary_promedy_per_country)

Employee Residence
Algeria                 100000.000000
American Samoa           45555.000000
Andorra                  47000.000000
Argentina                56444.444444
Armenia                  50000.000000
                            ...
United Arab Emirates    100000.000000
United Kingdom           96596.857143
United States           159794.726050
Uzbekistan               82000.000000
Viet Nam                 44200.000000
Name: Salary, Length: 83, dtype: float64

In [32]:
#Pregunta 08
maximum_salary = df['Salary in USD'].max()
maximum_salary_register = df[df['Salary in USD'] == maximum_salary]

minimum_salary = df['Salary in USD'].min()
minimum_register_salary = df[df['Salary in USD'] == minimum_salary]

print(f"Salario máximo en USD: {maximum_salary}")
print("Registro correspondiente:")
print(maximum_salary_register)

print(f"\nSalario mínimo en USD: {minimum_salary}")
print("Registro correspondiente:")
print(minimum_register_salary)

Salario máximo en USD: 450000
Registro correspondiente:
               Job Title Employment Type Experience Level Expertise Level  \
3085  Research Scientist       Full-Time              Mid    Intermediate

      Salary       Salary Currency Company Location  Salary in USD  \
3085  450000  United States Dollar    United States         450000

     Employee Residence Company Size  Year
3085      United States       Medium  2020

Salario mínimo en USD: 15000
Registro correspondiente:
                       Job Title Employment Type Experience Level  \
1335          Staff Data Analyst       Full-Time        Executive
2641  Machine Learning Developer       Full-Time            Entry
2826                Data Analyst       Full-Time            Entry

     Expertise Level  Salary       Salary Currency Company Location  \
1335        Director   15000  United States Dollar           Canada
2641          Junior   15000  United States Dollar         Thailand
2826          Junior   15000  United States Dollar        Indonesia

      Salary in USD Employee Residence Company Size  Year
1335          15000            Nigeria       Medium  2020
2641          15000           Thailand        Large  2021
2826          15000          Indonesia        Large  2022

In [54]:
# Pregunta 09
salary_mean = df.groupby(['Company Size'])['Salary'].mean().reset_index()

print(salary_mean)

  Company Size         Salary
0        Large  459661.271493
1       Medium  158990.875877
2        Small  276999.874172

In [48]:
#Pregunta 10
data_group = df.groupby(['Company Size', 'Company Location'])['Salary'].mean().reset_index()

print(data_group)

    Company Size      Company Location         Salary
0          Large        American Samoa   50000.000000
1          Large             Argentina   50000.000000
2          Large             Australia  113000.000000
3          Large               Austria   69666.666667
4          Large               Belgium   80000.000000
..           ...                   ...            ...
130        Small                Turkey   20000.000000
131        Small               Ukraine   50000.000000
132        Small  United Arab Emirates   92500.000000
133        Small        United Kingdom   82555.555556
134        Small         United States  112766.385965

[135 rows x 3 columns]